
/*default font version*/
@font-face {
  font-family: 'lato';
  src:
    local('Lato Regular'),
    Local('Lato-Regular'),
    url('fonts/Lato-Regular.ttf')
    format('truetype');
}
/*bold font version*/
@font-face {
  font-family: 'lato';
  src:
    local('Lato Bold'),
    Local('Lato-Bold'),
    url('fonts/Lato-Bold.ttf')
    format('truetype');
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'lato', sans-serif;
}
#content {
  position: relative;
  height: 100%;
}
#nav-bar {
  position: absolute;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90px;
  width: 100%;
  background-color: #0A4F87;
  opacity: 0.9;
  box-shadow: 0 2px 4px #0A4F87;
}
#title {
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
input[type=text] {
  width: 270px;
  height: 40px;
  margin: 5px 0 5px 15px;
  padding: 0;
  background-color: #FFFFFF;
  background-image: url('img/mag-glass.png');
  background-repeat: no-repeat;
  background-position: 230px 3px;
  opacity: 0.9;
  border: 1px #4A4A4A;
  border-radius: 2px;
  font-family: 'lato', sans-serif;
  font-size: 18px;
  color: #4A4A4A;
  text-indent: 11px;
}
#map-container {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}
#no-link {
  margin-top: 5px;
  color: blue;
  cursor: pointer;
}
#no-link:hover {
  text-decoration: underline;
}
#place-details {
  position: absolute;
  z-index: 1;
  margin: 100px auto;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 500px;
  width: 500px;
  background: grey;
  opacity: .7;
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  box-shadow: 0 2px 4px #4A4A4A;
  font-family: 'lato', sans-serif;
  font-size: 18px;
}

/* Screens over 600px wide */
@media (min-width: 37.5em) {
  #nav-bar {
    flex-direction: row;
    height: 70px;
    align-items: center;
  }
  .right {
    margin-left: auto;
    margin-right: 19px;
  }
}
